* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}

.wrapper {
  height: 100%;
  height: 100%;
}

.header {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(25, 36, 48);
}
.header__section {
  align-items: center;
  height: 100%;
  display: flex;
}
.header__logo {
  width: 190px;
}
.header__icon {
  color: #fff;
  margin-right: 20px;
}
.header__account {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}
.header__account img {
  width: 100%;
  height: 100%;
}

.main {
  display: flex;
  width: 100%;
  height: 100%;
}

.sidebar {
  background-color: rgb(72, 77, 86);
  flex: 0 0 200px;
  border-right: 1px solid grey;
}
.sidebar--hidden {
  display: none;
}
.sidebar__header {
  width: 100%;
  padding: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.sidebar__logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #fff;
}
.sidebar__logo img {
  width: 100%;
  height: 100%;
  display: block;
}
.sidebar__header__text {
  font-size: 16px;
  color: #fff;
}

.sidebar__links {
  margin-top: 20px;
}

.sidebar__link {
  padding: 10px 0px;
  display: block;
  text-decoration: none;
  color: #000;
}
.sidebar__link:nth-child(1) {
  padding: 10px 0px 20px 20px;
}
.sidebar__link__label {
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.sidebar__link__label span {
  display: block;
  transform: rotateZ(-90deg);
  transition: 0.3s;
  user-select: none;
}
.sidebar__link--active .sidebar__link__label span {
  transform: rotateZ(0deg);
}

.sidebar__link__submenu {
  padding: 10px 0px;
  padding-bottom: 0px;
  transition: 0.3s;
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
  color: #fff;
}

.sidebar__link:not(.sidebar__link--active) .sidebar__link__submenu {
  opacity: 0;
  transform: translateY(-20px);
  visibility: hidden;
  color: grey;
  height: 0;
}

.sidebar__link__submenu__link {
  padding: 10px 0px 10px 40px;
  display: block;
  text-decoration: none;
  color: lightgrey;
}
.sidebar__link__submenu__link--active { 
  color: #fff;
  background-color: rgb(123, 160, 228);
}

.main__content {
  flex: 1 1 auto;
  padding: 0px 20px;
}

.myTable {
  width: 100%;
  border: 1px solid lightgrey;
}

.myTable thead {
  font-weight: 700;
}

.headline {
  margin-top: 30px;
}

.myTable th, .myTable td {
  padding: 10px;
  border: none;
}

.myTable tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.myTable a {
  text-decoration: none;
  color: #000;
}
  
.tab-container {
  width: 100%;
}

.tabs {
  list-style: none;
  margin: 0;
  padding: 0; 
}

.tabs li {
  display: inline-block;
  padding: 10px 20px;
  background-color: lightgray;
  cursor: pointer;
  border: 1px solid grey;
}

.tabs li.active {
  background-color: rgb(65, 207, 65);
  color: #fff;
  border: 1px solid rgb(6, 81, 6);
}

.tab-content {
  padding-top: 40px;
}

.tab-pane {
  display: none;
}

.tab-pane.active {
  display: block;
}
.calendar-container {
  width: 100%;
  padding: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.calendar {
  padding: 5px;
  border-radius: 5px;
}
.table-action-icon {
  width: 20px;
}

.icon {
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
  padding-top: 4px;
  cursor: pointer;
  font-size: 16px !important;
}
.icon-edit {
  background-color: rgb(255, 255, 91);
}
.icon-cancel {
  background-color: red;
  color: #fff;
}
.icon-view {
  background-color: rgb(6, 212, 6);
  color: #fff;
}
.icon-refund {
  background-color: rgb(123, 123, 228);
  color: #fff;
}
